.contact
{
    position: absolute;
    top: 12rem;
    left: 5rem;
    right: 5rem;
    padding: 0 1rem;
    text-align: center;
}

.contact h1
{
    font-size:3.5rem;
    color: whitesmoke;
    font-family: Poppins;
    font-weight: 700;
    text-transform: capitalize;
}

.contact h1 span
{
    color:#FFA500;
}
.contact p
{
    font-size: 1rem;
    font-weight: 500;
    font-family: poppins;
    color: whitesmoke;
   min-height: 1rem;
}
.contact button
{
    padding: .4rem 2rem;
    background: #f33446;
    border: none;
   color: whitesmoke;
   font-size: 1rem;
   transition: all 0.5s ease;
}
.contact button:hover
{
    padding: .4rem 2rem;
    background: transparent;
    border:.1rem solid #FFA500;
   color: whitesmoke;
   font-size: 1rem;
   transition: all 0.5s ease;
}  
